*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.head{
	height: 100vh;
	width: 100%;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 6%;
	padding-right: 6%;
}
.logo{
	color: #fff;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.btn{
	background-color:#f9004d;
	color: #fff;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	background-color:#fff;
	color: #f9004d;
	transform: scale(1.1);
}
.content{
	position: absolute;
	top: 50%;
	left:6%;
	transform: translateY(-50%);
}
.content h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
.content h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
.content h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 13px 14px 15px;
	border: 1px solid #f9004d;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	top: 5px;
	right: 5px;
}

.about{
	width: 100%;
	padding: 100px 6%;
	
}
.about img{
	height: auto;
	width: 400px;
}
.abt_txt{
	width: 550px;
}
.main_abt{
	width: 1100px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.abt_txt h2{
	color: #fff;
	font-size: 60px;
	letter-spacing: 1px;
	/* padding: 50px 0; */
	margin-bottom: 20px;
}
.abt_txt h3{
	color: #fff;
	letter-spacing: 2px;
	font-size: 15px;
	margin-bottom: 20px;
}
.abt_txt p{
	color: #fcfc;
	letter-spacing: 1px;
	font-size: 17px;
	margin-bottom: 25px;
}
.abt_btn{
	background-color:#f9004d;
	color: #fff;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	cursor: pointer;
	transition: transform .4s; 
}
.abt_btn:hover{
	background-color:#fff;
	color: #f9004d;
	transform: scale(1.1);
}
.service{
	background-color: #101010;
	width: 100%;
	padding: 100px 6%;
	text-align: center;
}
.service h2{
	color: #fff;
	font-size: 35px;
	margin-bottom: 20px;
}
.card_list{
	display: flex;
	width: 100%;
	padding: 0px 8%;
}
.card {
    width: 33.33%;
    height: 250px;
    background-color: #191919;
    /* padding: 20px 65px 20px 65px; */
    margin: 0px 9px 0px 9px;
}

.card i {
    color: #f9004d;
    font-size: 25px;
    padding: 15px 0;
	cursor: pointer;
}

.card h3 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 15px;
}
.card p {
    color: #fcfc;
    font-size: 15px;
    padding: 0px 25px 25px 25px;
}
.service_btn{
	background-color:#f9004d;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	border: 2px solid transparent;
	padding: 5px 15px;
	border-radius: 30px;
}

.hire{
	width: 100%;
	padding: 50px 6%;
	text-align: center;
	background-color: #191919;
}
.hire_me h3{
	color: #fff;
	font-size: 22px;
	padding-bottom: 10px;
}
.hire_btn{
	background-color:#f9004d;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	border: 2px solid transparent;
	padding: 5px 15px;
	border-radius: 30px;
	transition: transform .4s; 
}
.hire_btn:hover{
	background-color:#fff;
	color: #f9004d;
	transform: scale(1.2);
}

.footer{
	width: 100%;
	padding: 50px 6%;
	text-align: center;
	background-color: #101010;
}
.footer h2{
	color: #fff;
	padding-bottom: 15px;
}
.footer h4{
	color: #fff;
	padding-bottom: 10px;
}
.footer h4 strong{
	color: #f9004d;
	font-weight: bolder;
}
.footer p{
	color: rgba(255, 255, 255, 0.76);
	padding-bottom: 10px;
}
.footer a{
	text-align: center;
}
.footer a i {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #f9004d;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 12px;
    padding: auto;
}
.copy_right p{
	color: #fff;
	padding-top: 35px;
}
/* .cont_input{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
} */
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }